[Desktop Entry]
Type=Application
Version=1.0
Name=electron
Comment=electron Startup Script
Exec="/usr/lib/electron12/electron" 
StartupNotify=false
Terminal=false